/* @font-face {
    font-family: myMM-font;
    src: url(https://raw.githack.com/zayar-1994/mmwebfonts/main/MyanmarGantGaw.ttf);
    }
*{font-family: "myMM-font", sans-serif;} */

/* Post Feed Style Start */
.post-wrapper{
    background-color: #1b1f22;
    color: #fefefe;
}
.post-wrapper .sidebar{
    padding: 20px;
    padding-left: 30px;
}
.post-wrapper .sidebar h5{
    margin-top: 10px;
    font-size: 17px;
    margin-left: 10px;

}
.post-wrapper .sidebar h5 span{
    color: palevioletred;
    margin-right: 5px;
    vertical-align: -3px;
    font-weight: 900;
    
}
.post-wrapper .sidebar ul{
    list-style: none;
}
.post-wrapper .sidebar ul li a{
    text-decoration: none;
    color: gray;
    padding-left: 10px;
}
.post-wrapper .post-feed{
    box-shadow: -5px 0 5px black;
}




/* Footer Style Start */
.footer{
    z-index: 100;
}
.footer > .row{
    padding: 25px;
}
.footer > .row h4.quote-title{
    color: white;
}
.footer > .row h4.quote-title span{
    color: white;
    font-size: 38px;
    font-weight: 900;
    vertical-align: -8px;
    margin-right: 10px;
}
.footer > .row .quote{
    color: gray;
    padding-right: 90px;
    text-align: center;
}
.footer .label-widget h4{
    margin-left: 20px;
}
.footer .label-widget ul{
    list-style: none;
}
.footer .label-widget ul li a{
    text-decoration: none;
    color: gray;
}
.footer .crd-feed > p{
    margin-bottom: 0;
    padding-bottom: 15px !important;
}


/*  Home page Blog Section Style */
.date-outer{
    padding: 20px;
    border-bottom: 1px solid gray;
}
span.post-description {
    padding-bottom: 10px;
    display: inline-block;
    color: gray;
  
  }
span.post-description a {
    text-decoration: none;
    color: #444;
}  
h3.post-title a{ 
	text-decoration : none;
	color: #fff;
}
body.home-page .post-body,
body.search-page .post-body{
    height: 200px;
    overflow: hidden;
    position: relative;
}
body.home-page .post-body::after,
body.search-page .post-body::after {
    content: "";
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: rgb(27,31,34);
    background: linear-gradient(0deg,
     rgba(27,31,34,1) 0%,
     rgba(27,31,34,1) 48%,
     rgba(27,31,34,0.7) 77%,
     rgba(27,31,34,0) 100%
    );
  }
body.home-page .post-body .readmore-container,
body.search-page .post-body .readmore-container{
    position: absolute;
    bottom: 10px;
    z-index: 100;
    text-align: center;
    left: 0;
    right: 0;
}
